/*general*/

* {
    font-family: 'Roboto';
}

.msg {
    background-color: #D4EDDA;
    border-color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

body { 
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #98afca;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: #F2A340;
    border: 2px solid #C28008;
}
.btn-dark {
    background-color: #000000;
    margin-left: 1%;
}

.btn-dark:hover {
    background-color: #C28008;
    border-color: #C28008;
}

.btn-primary:hover {
    background-color: #C28008;
    border-color: #C28008;
}


/*navbar*/

.navbar-text {
    font-size: large;
    color: white;
    margin-top: 6px;
}

#navbar img {
    width: 25px;
    margin-left: 5px;
}

#navbar {
    justify-content: space-between;
    background-color: #98afca;
    padding: 3px 10;
}

#navbar a {
    font-size: 14px;
    color: #ffffff;
}

#navbar a:hover {
    color: #F2A340;
}

/*search container*/  

#search-container {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: #FFF;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}

/*events  list*/

#events-container {
    padding: 50px;
}

#events-container h2 {
    margin-bottom: 10px;
}

#events-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
}

.cards-container {
    display: flex;
}

#events-container .card {
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 2.5px;
}

#events-container img {
    max-height: 300px;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date {
    font-size: 12px;
    color: #CCC;
}

.card .card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants {
    font-size: 14px;
    color: #757575;
}

/*event page*/

#image-container,
#info-container {
    margin-top: 30px;
}

#image-container img {
    border-radius: 10px;
}

#margin-container img {
    border-radius: 10px;
}

#info-container h1 {
    font-size: 36px;
    font-weight: 900;
}

#info-container p {
    margin: 0;
    font-size: 14px;
    display: flex;
}

#info-container,
#description-container h3 {
    margin-top: 9px;
    font-size: 20px;
    font-weight: bold;
}

#info-container ion-icon {
    font-size: 20px;
    color: #F2A340;
    margin-right: 5px;
}

#info-container #event-submit {
    margin: 20px 0;
}

#items-list {
    list-style: none;
    padding-left: 0;
}

#items-list li {
    display: flex;
}


/*dashboard*/

.dashboard-title-container {
    margin-bottom: 30px;
    margin-top: 30px;
}

.dashboard-events-container th {
    width: 25%;
}

.dashboard-events-container form {
    display: inline-block;
}

/*edit page*/

.img-preview {
    width: 100px;
    margin-top: 20px;
}


/*footer*/

footer {
    text-align: center;
    background-color: #98afca;
    color: #FFF;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*events create page*/

#event-create-container {
    padding: 30px;
}

#event-create-container label {
    font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {

    font-size: 12px;
    
}

.form-group {
    padding: 5px;
}

.btn-primary.btn-form {
    margin-left: 6px;
    margin-top: 6px;
    
}


footer p {
    margin-bottom: 0;
}

